/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; /* Fond blanc en mode clair *//*
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//db.onlinewebfonts.com/c/e5c490a944bc2b2746f0c851501e46c7?family=AvenirNextW10-Bold);
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lulo Clean W01 One";
  background-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}

@font-face {
  font-family: "Lulo Clean W01 One";
  src: url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot");
  src: url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/116d187134420de5733c7c45bbc80c46.svg#Lulo Clean W01 One")format("svg");
}

.Avenir {
  font-family: "Lulo Clean W01 One";
  font-display: swap;
}

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.txg {
  color: #b8bcbf;
}

.ld-04 {
  letter-spacing: 0.025em;
}

.lh-6 {
  line-height: 1.08;
}

.text-80 {
  font-size: 60px;
}

.text-40 {
  font-size: 40px;
}

.text-25 {
  font-size: 25px;
}

.text-title-faq {
  font-size: 15px;
}

.text-faq {
  font-size: 13px;
}

.font-4 {
  font-family: "Lulo Clean W01 One";
}

.font-5 {
  font-family: 'Anonymous Pro', sans-serif;
}

.tr04 {
  transition: 0.4s;
}

.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.fsac4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
}

@media (min-width: 720px) {
  .fsac4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ktq4 {
  background-color: #101111;
  padding: 2rem;
  border-radius: 10px;
}

.ktq5 {
  background-color: #d39b000e;
  padding: 1rem;
  border-radius: 10px;
}

.fkrr1 {
  font-family: "Gill Sans", sans-serif;
}